
<head>
  <link rel = "stylesheet" href="/style.css" type =text/css />
  <script src="/javascripts/app.js"></script>
</head>


<body>
  <div class = "center">
    <section>
      <article>
        <h2> About Me </h2>
          <p>
          <iframe class = "video" width=50% height=35% src="//www.youtube.com/embed/-IKFBkOJciw" frameborder="0" allowfullscreen></iframe>
          <p>
          I am an incredibly fortunate member of the second student
          cohort at Ada Developers Academy. It is very most likely the best thing that has ever happened to me. The universe
          has taken me into her arms, and I have taken notice. It is a debt I will repay, somehow.
          <p>
          Other things: I am a feminist, an existentialist, a pineapple, and a ukulele.
          <p>
          I am solar-powered. I never go to bed on time. Those two statements are incompatible. They are also true.
          <p>
          I have lofty aspirations of building an intentional commune, growing fruit trees, and waking up in a cuddly
          bed every day for the rest of my life.
          <li>Favorite Book: "Snow White" by Donald Barthelme</li>
          <li>Favorite Band: Ween</li>
          <li>Favorite Beverage: Coffee</li>
          <li>Favorite Organizational Tool: Lists (I LOVE to make lists.)</li>
          <p>
          <p>
          I also climb rock walls and eat five cups of raw vegetables a day.

      </article>
    </section>
  </div>
</body>
