
<head>
  <link rel = "stylesheet" href="/style.css" type =text/css />
  <script src="/javascripts/app.js"></script>
</head>

<body>
  <div class = "center">

    <section>
      <article>
        <div class = "contactpage">
          <h2> Contact</h2>
            <p>

              <!-- post puts it in the body instead of the url -->
              <form action='/contact' method ="POST">
                Your Name:
                <input type='text' name='first_name' />
                <p>
                Message:
                <input type='text' name='last_name' />
                <p>
                <input type='submit'>
                <!-- sends an http request to the server. takes input and sends it as the body -->
              </form>

            </p>
        <div class = "contactpage">
      </article>

      <footer>
        <div class = footnav>

          <div class = "icons">

            <!-- <li class = footnav id = "ada" ><a href="http://adadevelopersacademy.org/"> Ada </a></li>
             -->
            <a href="http://adadevelopersacademy.org/" target = "_blank" ><img src="ada.png" alt="Ada Developers Academy" color = "white" height = "5%"/></a>
            <a href="https://plus.google.com/u/0/113418906208509747659/posts"><img src="gplusicon.png" alt="G+" height = "5%"/></a>


            <a href="http://www.linkedin.com/pub/holly-leary/66/387/631" target = "_blank"><img src="linkedicon.png" alt="LinkedIn" height = "5%"/></a>
            <a href="https://twitter.com/Schleary" target = "_blank"><img src="twittericon.png" alt="Twitter" height = "5%"/></a>
            <a href="https://github.com/schleary" target = "_blank"><img src="giticon.png" alt="GitHub" height = "5%"/></a>

            <!-- <a href="https://github.com/schleary"><img src="giticon.png" alt="GitHub" height = "5%"/></a> -->

            <!--
            <li class = footnav id = "linkedin" ><a href="http://www.linkedin.com/pub/holly-leary/66/387/631">LinkedIn</a></li>
            <li class = footnav id = "twitter" ><a href="https://twitter.com/Schleary">Twitter</a></li>
            <li class = footnav id = "github" ><a href="https://github.com/schleary">GitHub</a></li> -->

        </div>
      </footer>

    </section>
  </div>
</body>
