<head>
  <link rel = "stylesheet" href="/style.css" type =text/css />
  <script src="/app.js"></script>
</head>



<body>
  <div class="innards">
    <h2> Contact</h2>
      <p>

        <!-- post puts it in the body instead of the url -->
        <form action='/contact' method ="POST">
          Your Name:
          <input type='text' name='first_name' />
          <p>
          Message:
          <input type='text' name='last_name' />
          <p>
          <input type='submit'>
          <!-- sends an http request to the server. takes input and sends it as the body -->
        </form>

      </p>
  </div>
</body>

<footer>
  <div class = footnav>
    <ul>
      <li class = footnav id = "ada" ><a href="http://adadevelopersacademy.org/"> Ada </a></li>
      <li class = footnav id = "linkedin" ><a href="http://www.linkedin.com/pub/holly-leary/66/387/631">LinkedIn</a></li>
      <li class = footnav id = "twitter" ><a href="https://twitter.com/Schleary">Twitter</a></li>
      <li class = footnav id = "github" ><a href="https://github.com/schleary">GitHub</a></li>
    </ul>
  </div>
</footer>
