
<head>
  <link rel = "stylesheet" href="/style.css" type =text/css />
  <script src="/javascripts/app.js"></script>
</head>

<!-- layout.aside = hidden; -->

<body>
  <div class = "center">

    <div class = "homecontent">
      <div class = "purple">
        <img id= "coverpic" src="purple.jpg" alt = "Holly Leary image" height = "35%" />
      </div>
      <div class = "title">

        <div class ="name">
          Holly Leary
        </div>
        <div class = "details">
          <br/>
          Ada Developers Academy Student[1] Blog
        </div>
      </div>
    </div>

  </div>
</body>









<!-- Home Blog about resume contact -->
