<head>
  <link rel = "stylesheet" href="/style.css" type =text/css />
  <script src="/app.js"></script>
</head>

<sidebar>
  <div class = "sidebar">
    <!-- <%= @posta.inspect%> -->
    <% @posts.each do |post| %>
      <p>
        <!-- <a href = "/posts/name">Title</a> -->
        <a href= "<%= post.url %>"><%= post.title %></a>
      </p>
    <% end %>
  </div>
</sidebar>

<body>

  <div class = "homecontent">
    <div class = "purple">
      <img id= "coverpic" src="purple.jpg" alt = "Holly Leary image" height = "35%" />
    </div>
    <div class = "title">

      <div class ="name">
        Holly Leary
      </div>
      <div class = "details">
        <br/>
        Ada Developers Academy Student[1] Blog
      </div>
    </div>

  </div>



</body>




<!-- Home Blog about resume contact -->
