<link rel = "stylesheet" href="/style.css" type =text/css />

<body>

  <div id = "centerwords">
    <span>
      <img id= "coverpic" src="purple.jpg" height = "30%" />
    </span>
    <span>
      <div>
        <div class ="name">
          Holly Leary
        </div>
        <div id = "title">
          <br/>
          Ada Developers Academy Cohort[1] Student Blog
        </div>
      </div>
    </span>
  </div>

</body>

<!-- Home Blog about resume contact -->
