<!-- <!DOCTYPE html> -->
<html>
  <head>
    <link rel = "stylesheet" href="/style.css" type =text/css />
    <script src="/app.js"></script>
    <title> Holly Leary </title>
  </head>

  <body>

    <aside>
      <% @posts.each do |post| %>
        <p>
          <!-- <a href = "/posts/name">Title</a> -->
          <a href= "<%= post.url %>"><%= post.title %></a>
        </p>
      <% end %>
    </aside>


      <nav>
        <div class="Navigation">
          <ul>
            <li class = "nav"><a href="/"> Home </a></li>
            <li class = "nav"><a href="/posts">Blog</a></li>
            <li class = "nav"><a href="/about">About</a></li>
            <li class = "nav"><a href="/contact">Contact</a></li>

          </ul>
        </div>
      </nav>


    <%=yield%>
  <!-- means insert other content here -->
  </body>
</html>
