<link rel = "stylesheet" href="/style.css" type =text/css />

<body>
  <div id="Navigation">
    <ul>
      <li class = "nav"><a class="tab_button" href="/"> Home </a></li>
      <li class = "nav"><a class="tab_button" href="/about">About</a></li>
      <li class = "nav"><a class="tab_button" href="/posts/post1">Posts</a></li
    </ul>
  </div>
</body>

<%=yield%>

<footer>
  <div id="Navigation">
    <ul>
      <li class = "nav"> <a href="http://adadevelopersacademy.org/"> Ada </a></li>
      <li class = "nav"> <a href="http://www.linkedin.com/pub/holly-leary/66/387/631">LinkedIn</a></li>
      <li class = "nav"> <a href="https://github.com/schleary">GitHub</a></li
    </ul>
  </div>
</footer>
