<head>
  <link rel = "stylesheet" href="/style.css" type =text/css />
  <script src="/app.js"></script>
</head>

<body>
  <div class="Navigation">
    <ul>
      <li class = "nav"><a href="/"> Home </a></li>
      <li class = "nav"><a href="/posts">Blog</a></li>
      <li class = "nav"><a href="/about">About</a></li>
      <li class = "nav"><a href="/contact">Contact</a></li>
    </ul>
  </div>
</body>

<%=yield%>
<!-- means insert other content here -->
