<head>
  <link rel = "stylesheet" href="/style.css" type =text/css />
  <script src="/app.js"></script>
</head>

<body>
  <div class="Navigation">
    <ul>
      <li class = "nav"><a href="/"> Home </a></li>
      <li class = "nav"><a href="/about">About</a></li>
      <li class = "nav"><a href="/posts/post1">Posts</a></li
    </ul>
  </div>
</body>

<%=yield%>
<!-- means insert other content here -->

<!-- <footer>
  <div class = footnav>
    <ul>
      <li class = "nav"<a href="http://adadevelopersacademy.org/"> Ada </a></li>
      <li class = "nav"<a href="http://www.linkedin.com/pub/holly-leary/66/387/631">LinkedIn</a></li>
      <li class = "nav"<a href="https://github.com/schleary">GitHub</a></li
    </ul>
  </div>
</footer> -->
