
<head>
  <link rel = "stylesheet" href="/style.css" type =text/css />
  <script src="/javascripts/app.js"></script>
</head>

<body>

    <section>
      <%= erb ("/posts/post2").to_sym %>
      <%= erb ("/posts/Getting Git").to_sym %>
    </section>

</body>
