<html>
  <head>
    <link rel = "stylesheet" href="/style.css" type =text/css />
    <script src="/app.js"></script>
  </head>

  <body>

      <section>
        <%= erb ("/posts/post2").to_sym %>
        <%= erb ("/posts/post1").to_sym %>
      </section>

  </body>
<html>
