
/* Layout */

a:link {color:#606060; font-family: "proxima-nova-alt", "Helvetica Neue", "Helvetica", "Arial", sans-serif;}
a:visited {color:gray;}

a{
  letter-spacing: 3px;
  text-decoration: none;
}

.Navigation a:hover {
  margin-bottom: 2%;
  border-bottom: 1px solid #FF6600;
}

.Navigation a{
  color:black;
  border-bottom:
  1px solid #000;
  border-color:black;
  padding-bottom: 1em;
}

.nav{
  margin: 4% 5% 5% 5%;
  display: inline-block;
  text-align: center;
}

.Navigation {
  text-align: center;
  text-transform: uppercase;
}

ul{
  /*this is a problem, because the width here is equal to the width of the post names
  in the sidebar, which changes based on .*/
  /*-webkit-padding-start: 111px;*/
}

body{
  font-family: "proxima-nova-alt", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: white;
  padding: 0 10% 10% 10%;
}

/*##############################################*/

li:hover > .dropdown {
  position: absolute;
  display: block;
  /*this is a problem with flexible window movement.*/
  padding:0;
}

.horizontal-list {
  position: relative;
  padding-left:0;
}

.horizontal-list > li {
  display: inline-block;
}

.dropdown-anchor {
  position: relative;
}

.Navigation ul > li{
  display: inline-block;
}

.dropdown{
  display: none;
  /*get rid of this if you go back to css toggle*/
  /*position: absolute;*/
}

.Navigation .dropdown li{
  text-align: left;
  margin-top:20%;
  float: left;
  text-transform: lowercase;
}

.dropdown a:hover{
  border-bottom: none;
  text-decoration: none;
  color:orange;

  border-color:white;
  padding-bottom: 1em;
}

.dropdown a{
  border-bottom: none;
  text-decoration: none;
  color:#C8C8C8 ;
   text-shadow: 2px 2px white;
  border-color:white;
  padding-bottom: 1em;
}


/*##############################################*/
/* Footer */

.footnav{
  margin-left:2%;
  margin-right:2%;
  display: inline;
  text-align: center;
  text-transform: lowercase;
  vertical-align: bottom;
}

.footnav a:visited {
  color:gray;
}

.footnav ul{
  -webkit-padding-start: 0;
}


/* Sidebar */

aside{
  float:right;
  margin-top: 0%;
  margin-bottom: 2%;
  margin-left:3%;
}




/* Home Page*/

.homecontent{
  letter-spacing: 3px;
  display: inline;
  padding-right: 10%;
  padding-left: 10%;
}

.purple{
  display: inline-block;
  padding-left: 2%;
  padding-top: 2%;

}

.title{
  padding-top: 8%;
  display: inline-block;
  vertical-align: top;
  padding-left: 5%;
}

.name{
  font-size: 225%;
  padding-bottom: 2%;
  border-bottom: 1px solid #000;
  color: #FF6600;/*#4169E1; /* #0077AA; */
  letter-spacing: 3px;
}

.details{
  font-size: 100%;
  letter-spacing: 4px;
  color: #606060;
}


/* Pages */


article{
  text-align: justify;
  line-height: 145%;
  margin: auto 17%;
}

h2{
  color: orange;
  text-emphasis: none;
  /*text-transform: lowercase;*/
  padding-bottom: 2%;
}

.postpic{
  float: left;
  padding-right: 7%;
  padding-bottom: 5%;
}

.postdate{
  font-style: italic;
  color: gray;
  text-align: right;
  padding-bottom: 3%;
}

.code {
  font-family: courier;
  color: limegreen;
  /*#FF6600*/
  text-shadow: 1px black;
}

.video{
  margin-bottom: 5%;
  float: right;
  margin-left: 7%;
}

.blockquote{
  float:right;
}

.center{
  margin-top: 5%;
}

.contactpage{
  height: 70%;
}
/*

.read_more {
    border:1px solid #000;
    background-color:#CCC;
    cursor:pointer;
    width:100px;
    text-align:center;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-binding: url('http://seancannon.com/_test/ellipsis.xml#ellipsis');
}

.posttext {
    font-family:arial;
    color:#333;
    font-size:10px;
    width:80%;
}*/

h3{
  color: orange;
}

.konami{
  text-align: center;
}

.code .comments{
  color: #C8C8C8;
  margin-left: 5%;
}


.icons a{
  fill: #000;
  background-color: #C8C8C8;
  border-radius: 25%;
  display: inline-block;
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
}

.icons a:hover{
  background-color:#FF6600;
}
