<head>
  <link rel = "stylesheet" href="/style.css" type =text/css />
  <script src="/app.js"></script>
</head>

<body>
<h1> My First Post </h1>

This is my first post. I'm writing a bunch of crud inside of it.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare,
massa eu mattis pulvinar, lacus mauris imperdiet nibh, eget ullamcorper
velit nibh eu risus. Proin lobortis massa quam. Nullam tellus libero,
sodales ac bibendum molestie, luctus et lacus. Suspendisse potenti.
Aliquam elementum mi gravida, consequat nisl eu, facilisis tellus. Fusce
at convallis nulla. Nunc faucibus justo eget vestibulum sollicitudin. Sed
faucibus quam efficitur ipsum interdum, ac vulputate ligula convallis. Fusce
ultricies felis sed nisi tristique tempor. Sed aliquet laoreet mi, non
vulputate felis viverra sed. Praesent sodales ante cursus, bibendum urna
eget, euismod libero. Aliquam euismod dolor libero, a ultricies mi aliquam
ut. Mauris laoreet, ex eget aliquam lobortis, lorem libero rutrum mi,
maximus bibendum nulla nisl vel elit. Aliquam fermentum justo et elit lobortis,
 sed tincidunt nisi accumsan. Phasellus eget commodo metus.
</body>
