
<head>
  <link rel = "stylesheet" href="/style.css" type =text/css />
  <script src="/javascripts/app.js"></script>
</head>

<body>
  <div class = "center">
    <section>
      <article>
        <h2> Instant Rails App</h2>
          <div class = "posttext" class="ellipsis">
            <p>
            A month ago, trying to put together a Rails App could bring me to tears. But now that I have a
            quick and easy go-to process, it's become so enjoyable for me that I find myself building apps
            in my free time for fun. This is supposed to be 'instant', so let's get to it.
            <br>
            In the terminal:
            <br>
            <div class = code>
              > rails new example -T -d postgresql
              <br>
              > cd example
              <br>
              > rake db:create
              <br>
              > control-T
              <br>
              > rails server
              <br>
              > atom .
              <br>
            </div>
            <br>
            This starts a new application, creates a database, and starts a local server.
            <br>
            Still in the terminal (you can do a LOT in the terminal):
            <br>
            <div class = code>
              > rails g model example your_own_attribute:string
              <br>
              > rake db:migrate
              <br>
              > rails g controller example
              <br>
              > control-T
              <br>
              > atom .
              <br>
            </div>
            <br>
            Cool. Instant models and controllers. Just make sure that your attributes have the correct
            types(string, integer, or text, etc.).You've migrated the changes to the database, opened your app, and now
            you're ready to fill in the model-view-controller.
            <br>
            In the controller, there are many default actions you can start with:
            <br>
            <div class = code>
              ExamplesController < ApplicationController
              <br>
              <br>
              def index
              </pre>  @examples = Examples.all
              end
              <br>
              <br>
              def new
              </pre>  @examples = Example.new
              end
              <br>
              <br>
              def create
              </pre>  @example = Album.new(example_params)
              </pre>  if @example.save
              </pre>    redirect_to examples_show_path(@album)
              </pre>  else
              </pre>    render 'new'
              </pre>    end
              end
              <br>
              <br>
              def show
              </pre>  @example = Example.find(params[:id])
              end
              <br>
              <br>
              def edit
              </pre>  @example = Example.find(params[:id])
              end
              <br>
              <br>
              def update
              </pre>  @example = Example.find(params[:id])
              </pre>  if @example.update(find_params)
              </pre>    redirect_to example_show_path(@album)
              </pre>  else
              </pre>    render 'edit'
              </pre>  end
              end
              <br>
              <br>
              def destroy
              </pre>  @example = Example.find(params[:id])
              </pre>  @example.destroy
              </pre>  redirect_to examples_path
              end
              <br>
              <br>
              private
              <br>
              <br>
              def example_params
              </pre>  params.require(:example).permit(:your_own_attribute)
              end
              <br>
            </div>


            <p>

            <div class = "postdate">
             <p>
               <div class = "date"> 11.16.14 </div>

               <!-- <%= @date %> -->
             </p>
           </div>
           <!-- <div id="read_more">Read More</div>
         </div>  <!/posttext -->
        </article>
      </section>
    </div>
  </body>
