
<head>
  <link rel = "stylesheet" href="/style.css" type =text/css />
  <script src="/javascripts/app.js"></script>
</head>

<body>
  <div class = "center">

    <section>
      <article>
        <h2> Post 3 </h2>
          <div class = "posttext" class="ellipsis">
            <p>

            <div class = code>
              > mkdir your_directory_name
              <br>
              > cd your_directory_name
              <br>
              > atom your_file_name.rb
              <br>
              > git init
              <br>
              > touch your_directory_name
              <br>
              > git add your_file_name.rb
              <br>
              > git commit -m "some comment"
              <br>
            </div>

            <p>

            <div class = "postdate">
             <p>
               <div class = "date"> 10.12.14 </div>

               <!-- <%= @date %> -->
             </p>
           </div>
           <!-- <div id="read_more">Read More</div>
         </div>  <!/posttext -->
        </article>
      </section>
    </div>
  </body>
